html.dark {
  color-scheme: dark;
}

/* MY STYLING */
:root {
  /* 
  Colours */

  --light-grey: light-dark (#f5f5f5, #5000ca);
  --medium-grey: #e3e3e3;
  --dark-grey: #d9d8d8;

  --blue-1: #8fc0e4;
  --blue-2: #2a5283;
  --blue-3: #1a4b9c;

  --black: #000f15;

  /* FONT */
  --font-color: light-dark(#000f15, #f1f1f1);

  /* HEADER */
  --nav-grad-start: light-dark(#e9f6ff, #021e34);
  --nav-grad-end: light-dark(#007bda, #023a64);

  /* LAYERS */

  --a-layer-1: light-dark(#cde3f2, #474d5258);
  --a-layer-2: light-dark(#fafafa, #3d4348);
  --a-layer-3: light-dark(#eef4f8, #606569);
  --a-text: light-dark(#212529, #dedfe0);
  --a-border: light-dark(#fafafa, #2f373c);
}

/* PLUKKET FRA STARTER-KODE */

:root {
  /* Borders - YES */
  --border-radius: 5px;

  /* Background color */
  --color-bg: light-dark(#e5eff5af, #041725);

  /* Links */
  --color-link: light-dark(#000f15, #f1f1f1);
  /* --color-link-bg: #f5f5f5; */
  --color-link-hover: light-dark(#063d54, #d0dde7);
  --color-link-active: #e7f8ff;
  --border-radius-links: 1px;

  /* Headlines (size)*/
  --font-h1-size: 2rem;
  --font-h2-size: 1.8rem;
  --font-h3-size: 1.5rem;

  /* Fonts & font weights */
  --font-family-sans: "Rubik", ui-sans-serif;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 300;
  --font-weight-light: 200;

  /* Infographics background colors*/
  --color-info-bg: #faf9f9;
}
