:root {
  /* Background color */
  --color-bg: #faf9f9;

  /* Header background color */
  --color-head-bg: #e4fbff;

  /* Logotype */
  --color-logotype-bg: #f1feff;
  --color-text-logotype: #e3f8ff;
  --font-logotype-size: 1rem;

  /* Global menu */
  --color-menu-bg: #3666f6;
  /* Links */
  --color-link-bg: #eef4f8;
  --color-link-hover: #fff;
  --color-link-active: #e7f8ff;
  --border-radius-links: 1px;

  /* Headlines (size)*/
  --font-h1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;

  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --font-sub1-size: 1rem;

  /* Headlines (color) */
  --color-headline-bg: #ffffff;

  /* Tekst */
  --color-text: #000;
  --color-text-inverted: #cdccc4;

  /* Andet tekst */
  --followup-text-size: 1rem;

  /*  Margins */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: #cff8ff;
  --color-card-bg-inverted: #85b9ed;
  --color-cta-card-bg: #847f7e;
  --color-cta-card-bg-inverted: #c0bfb9;

  /* Fonts & font weights*/
  --font-family-sans: "Rubik", ui-sans-serif;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 300;
  --font-weight-light: 200;

  /* Infographics background colors*/
  --color-info-bg: #faf9f9;
}
