:root {
  /* Background color */
  --color-bg: #f5f5f5;

  /* Header background color */
  /* --color-head-bg: #e4fbff; */

  /* Logotype
  --color-logotype-bg: #f1feff;
  --color-text-logotype: #e3f8ff;
  --font-logotype-size: 1rem; */

  /* Global menu */
  --color-menu-bg: var(--blue-3);
  /* Links */
  --color-link-bg: #f5f5f5;
  --color-link-hover: #fff;
  --color-link-active: #e7f8ff;
  --border-radius-links: 1px;

  /* Headlines (size)*/
  --font-h1-size: 2rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;

  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --font-sub1-size: 1rem;

  /* Headlines (color) */
  --color-headline-bg: #ffffff;

  /* Tekst */
  --color-text: var(--black);
  --color-text-inverted: #cdccc4;

  /* Andet tekst */
  --followup-text-size: 1rem;

  /*  Margins */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: var(--medium-grey);
  --color-card-bg-inverted: #85b9ed;
  --color-cta-card-bg: #847f7e;
  --color-cta-card-bg-inverted: #c0bfb9;

  /* Fonts & font weights*/
  --font-family-sans: "Rubik", ui-sans-serif;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 300;
  --font-weight-light: 200;

  /* Infographics background colors*/
  --color-info-bg: #faf9f9;
}

/* MY STYLING */
:root {
  /* 
  Colours */

  --light-grey: #f5f5f5;
  --medium-grey: #e3e3e3;
  --dark-grey: #d9d8d8;

  --blue-1: #8fc0e4;
  --blue-2: #2a5283;
  --blue-3: #1a4b9c;

  --black: #000f15;
}
