#theme-toggle {
  --h: 2rem;
  --w: 3rem;
  font: inherit;
  appearance: none;
  background: gainsboro;
  height: var(--h);
  width: var(--w);
  border: 1px solid var(--black);
  cursor: pointer;
  border-radius: 9999px;
}

#theme-toggle::before {
  content: "";
  display: block;
  padding: 2px;
  height: 85%;
  aspect-ratio: 1;
  background: gray content-box;
  border-radius: inherit;
  transition: 0.3s;
}

#theme-toggle:checked::before {
  background-color: rgb(90, 211, 90);
  translate: calc(var(--w) - var(--h));
}
