* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-sans);
  color: var(--font-color);
  background-color: var(--color-bg);
  max-width: 1200px;
}

header {
  height: min-content;
  padding: 30px;
  background: linear-gradient(
    90deg,
    var(--nav-grad-start),
    var(--nav-grad-end)
  );
}

main section {
  padding: 20px;
  border-radius: var(--border-radius);
}

main article {
  border-radius: var(--border-radius);
}

h1 {
  font-size: var(--font-h1-size);
  font-weight: var(--font-weight-bold);
  color: var(--font-color);
  margin: 5px 0;
  line-height: 1.3rem;
  text-align: left;
}

/* INFOGRAFIK + FORMULAR */

#instruction h1,
#register h1 {
  /* margin: 40px 0 20px 0;
  padding: 15px 30px; */
  font-size: var(--font-h1-size);
}

.sub {
  font-size: var(--font-sub1-size);
  font-weight: var(--font-weight-light);
  color: var(--color-text-inverted);
}
h2 {
  font-size: var(--font-h2-size);
}
h3 {
  font-size: var(--font-h3-size);
}

/* NAVIGATION STRUCTURES */
header > nav {
  height: 100%;
}

nav ul {
  list-style: none;
}

a {
  font-family: var(--font-family-sans);
}
nav a {
  text-decoration: none;
  color: var(--color-text);
}
/* Måske skal du lave en ny regel for logotype-wrapper, når du har lavet din logotype */
#logotype-wrapper {
  background-color: var(--color-logotype-bg);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3.6rem;
}
#logotype-wrapper > a {
  color: var(--color-text-logotype);
  font-size: var(--font-logotype-size);
  font-weight: var(--font-weight-medium);
  width: max-content;
  margin-left: 1rem;
}
/* Global menu */
header nav li a {
  margin: 1.5rem;
  color: var(--color-text);
  font-size: 1.1rem;
  font-weight: 420;
  padding: 0.5rem 1rem;
}

/* Global menu hover effekt - Lav den om til det, du synes */
nav a:hover {
  text-decoration: underline;
  color: var(--color-link-hover);
}

nav a:active {
  color: var(--blue-3);
}

/* FOOTER */

footer a {
  font-size: 0.9rem;
  opacity: 0.8;
}

/* EGEN STYLING */

main {
  margin: 2rem;
}

.grid_3-2 {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.flexbox {
  display: flex;
  flex-direction: column;
}

/* DELETED STARTER CODE */

#main-disclamer {
  height: 225px;
  background-color: var(--color-head-bg);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
  padding-bottom: 2%;
  margin-bottom: var(--margin-head-bottom);
}
#main-disclamer-content {
  display: flex;
  column-gap: 1rem;
}
main > h1 {
  width: calc(80% - 6rem);
}

Pilen efter menu-tekst header > nav li > a:after {
  content: " \2192";
}

/*


.nyhed {
  background-color: azure;
  margin: 2rem;
  text-decoration: none;
}

.nyhed > a {
  text-decoration: none;
}

.nyhed_horisontal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 40px 0 40px 20px;
  height: minmax(200px, min-content);
}

.nyhed_img {
  width: 100%;
  max-width: 300px;
}

.nyhed_titel {
  width: 100%;
  text-decoration: none;
  color: var(--black);
  font-size: 1.5rem;
  padding: calc(1.1rem / 1.5) 1rem calc(1.1rem / 2) 1rem;
  margin: 0 0 0.5rem 0;
}

.nyhed_vertikal {
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}

.nyhed_vertikal > h2 {
  max-width: 300px;
}

*/
